

    
        <div class="ma-div">
        <div class="container-fluid">
            <div class="text-center">
            <h1 class="title">
                <span class="bg-success p-2 text-white g-bg-cyan" >  &nbsp;    &nbsp;   &nbsp;   &nbsp;   &nbsp;     AppCollect   &nbsp;    &nbsp;   &nbsp;   &nbsp;   &nbsp;     </span>
              
            </h1>
            <br>
            </div>
           
            <div class="row clearfix">
                
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="body">
                            <div class="text-center">

                                
                                
                                <h2 class="title"> 
                                    Activer Compte
                                </h2>
                                  
                    
                            </div>
                            <form>
                                <div class="input-group icon before_span">
                                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                    <div class="form-line">
                                        <input type="text" [(ngModel)]="code.token" class="form-control" name="token"
                                            placeholder="CODE" required>
                                    </div>
                                </div>
                                
                                <div class="text-center">
                                    <button (click)="activer()" class="btn btn-raised g-bg-cyan waves-effect"
                                        [disabled]="!code.token ">Activer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   